// Override the Bootstrap defaults without modifying key, versioned files.
html,
body,
#app,
#page-container,
#chart-container,
#chart{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// Anychart - timescale button
.chartButtons button {
    //background-color: #4CAF50; /* Green */

    border: 1px solid slategrey; /* Green border */
    //color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    //margin: 2px 2px;
    cursor: pointer;
    border-radius: 10%;
    float: left;
}
