// Override the Bootstrap defaults without modifying key, versioned files.
html,
body,
#app,
#page-container{
    width: 100%;
    height: 95%;
    background-color: #8b8dbb;
    font-family: "Varela Round", sans-serif;
}
.chartAreaButton {
    height: 38px;
    width: 68px;
    //background-color: white;
    //color: black;
    background-color: white;
    color: #c7c9fc;
    //filter: invert(71%) sepia(3%) saturate(4149%) hue-rotate(200deg) brightness(115%) contrast(98%);
    border: 2px solid #c7c9fc;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
.chartAreaButton:disabled {
    background-color: #c7c9fc;
    color: #4a475f;
    outline: none;
}

#chart-container {
    width: 75%;
    height: 100%;
    float: left;
    background-color: white;
    border-radius: 10px;
    margin: 1px;
    .top-area {
        width: 100%;
        height: 6%;
        .currency-title {
            width: 70%;
            font-size: 25px;
            display: inline-block;
            //float: left;
            text-align: left;
        }
        .pricePercentage-area {
            width: 29%;
            display: inline-block;
            text-align: right;
        }
    }
    .chart {
        width: 100%;
        height: 88%;
    }
    .bottom-area {
        width: 100%;
        height: 6%;
        .timescale-area {
            width: 50%;
            display: inline-block;
            text-align: left;
            .timescaleButton{
                height: 100%;
                width: 10%;
                color: #c7c9fc;
                background-color: white;
                font-size: 20px;
                border: none;
                text-align: center;
                cursor: pointer;
                outline: none;
            }
            .timescaleButton:disabled{
                color: #c7c9fc;
            }
        }
        .candleLine-area {
            width: 49%;
            display: inline-block;
            text-align: right;
        }
    }
}

#user-panel {
    width: 24%;
    height: 100%;
    float: right;
    text-align: center;
    //background: darkgrey;
    .chartInput {
        height: 100%;
        .buySellButton-area {
            height: 10%;
            .buySellButton {
                width: 100%;
                font-size: 120%;
                //background-color: white;
                color: black;
                .buyButton {
                    width: 50%;
                    float: left;
                    border-radius: 10px 0px 0px 0px;
                    background-color: white;
                }
                .buyButton:disabled{
                    background-color: #4a475f;
                    outline: none;
                    color: white;
                }
                .sellButton {
                    width: 50%;
                    float: right;
                    border-radius: 0px 10px 0px 0px;
                    background-color: white;
                }
                .sellButton:disabled{
                    background-color: #4a475f;
                    outline: none;
                    color: white;
                }
            }
            //.buySellButton:disabled {
            //    background-color: #4a475f;
            //}
        }
        .amount-area {
            width: 100%;
            height: 90%;
            background-color: white;
            border-radius: 0px 0px 10px 10px;
            text-align: center;
        }
    }
}

// Anychart - timescale button
.submitButton,
.refreshButton {
    background-color: white;
    color: #8b8dbb;
    border: 2px solid #8b8dbb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    outline: none;
}
.submitButton:focus,
.refreshButton:focus{
    background-color: #c7c9fc;
    outline: none;
}

.input-group,
.homeCurrency,
.foreignCurrency {
    width: 65%;
    height: 6%;
    text-align:center;
    margin: auto;
    border: 2px solid #8b8dbb;
    background-color: white;
    border-radius: 0.5rem;
    outline: none;
}
.card-footer {
    width: 100%;
}

.error {
    border: 1px solid red; // Rose: this class should be kept for error message, but you can restyle it.
}
