.navbar.flow{
    width: 70%;
    height: 10%;
}
.router-button{
    width: 20%;
    padding: .5em 1em;
    margin: 0 auto;
    line-height: 1em;
    border: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: #4B4860;
    box-shadow:3px 3px 9px #4B4860;
    border-radius: 1em;
    outline: none;
}

.router-button.router-link-active {
    background-color: #4B4860;
    color: white;
}
.router-button:visited, .router-button:hover, .router-button:active, .router-button:focus{
    outline: 0 none;
}

.router-content{
    height: 90%;
}



